
body {
    padding: 0%;
    margin: 0%;
    font-family: 'arial', Times, serif, Helvetica, sans-serif;
    background-color: #656565;
    text-align: center;
}

h1{
    text-align: center;
    color: #0c0c0c;
}